@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*, *::after, *::before {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

.top__top{
    padding-top: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.top__logo{
    width: 264px;
    height: 44px;
}

.call__us__button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 265px;
    height: 60px;
    background-color: #ffffff; 
    border: 1px solid #182877; 
    border-radius: 90px;
}

.call__us__link{
    margin-right: 10px;
    text-decoration: none;
    font-size: 18px;
    font-family: Montserrat;
    font-weight: 400;
}

.call__us__svg{
    width: 22px;
    height: 22px;
}

.start__screen {
    position: relative;
    width: 100%;
    height: 700px;
    margin-top: 20px;
    background-color: #F3F7FF;
    background-size: 100% 100%;
}

.start__screen__group__img {
    position: absolute;
    top: -15px;
    right: 275px;
    width: 480px;
    height: 520px;
}

.start__screen__subtitle {
    margin-top: 35px;
    height: max-content;
    display: flex;
    flex-direction: row;
    align-items: start;
}

.small__line {
    margin-top: 8px;
    margin-right: 10px;
}

.h1{
    font-size: 60px;
    color: #C9262A;
    font-family: Montserrat;
    padding-top: 57px;
}
.h2{
    font-size: 35px;
    color: #182877;
    line-height: 45px;
    font-family: Montserrat;
}
.h3{
    font-family: Montserrat;
    font-size: 35px;
    color: #182877;
    line-height: 45px;
}

.p1 {
    max-width: 326px;
    font-family: "Montserrat";
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
}

.blue__text {
    font-weight: 700;
    color: #182877;
}

.application__btn {
    display: flex;
    width: 460px;
    height: 70px;
    background: #C9262A;
    border-radius: 80px;
    margin-top: 45px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 5px 30px 5px rgba(201, 38, 42, 0.1);

    text-wrap: nowrap;
    color: #ffffff;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 18px;
}

.statics {
    background-color: #182877;
}

.static__continer {
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 230px;
    align-items: start;
}

.elm {
    width: 102px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.elm__img {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.elm__img::before {
    position: absolute;
    display: block;
    content: "";
    width: 102px;
    height: 102px;
    background-color: #fff;
    background-size: 100% 100%;
    border-radius: 50%;
}

.elm__img>img {
    z-index: 1;
}

.elm__text{
    width: 300px;
    margin-top: 40px;
    color: #F3F7FF;
    font-size: 18px;
    font-family: Montserrat;
    font-weight: 400;
    text-align: center;
}
.redline{
    background-color: #C9262A;
    width: 4px;
    height: 30px;
}
.g__att__cont{
    display: flex;
    justify-content: center;
    padding-top: 50px;
}
.g__att__h{
    color: #182877;
    text-align: center;
    font-family: Montserrat;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: 45px; /* 128.571% */
    text-transform: uppercase;
}
.g__att__text{
    padding-top: 40px;
    color: #000;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 155.556% */
    width: 720px;
}
.g__att__ul{
    list-style-type: none;
}
.g__att__span{
    color: #000;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px; /* 155.556% */
}
.g__att__li{
    margin-bottom: 40px;
    display: flex;
    flex-direction: row;
    align-items: start;
}
.g__att__p{
    margin-left: 10px;
}
.solution{
    display: flex;
    border-top: solid #B7CBF3;;
    border-bottom: solid #b7cbf3;
    justify-content: center;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 25px;
    padding-bottom: 25px;
}
.solution__text__p{
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px; /* 155.556% */
}
.solution__text__span{
    color: #fff;
    background-color:#182877;
    padding: 4px 4px 4px 8px;
    margin-right: 5px;
}
.safety__cloud{
    background: #F3F7FF;
    display: flex;
    margin-top: 70px;
}
.redline1{
    background-color: #C9262A;
    width: 4px;
    height: 30px;
    margin-top: 50px;
}
.safety__cloud__cont{
    display: flex;
    justify-content: center;
}
.safety__cloud__h{
    color: #182877;
    text-align: center;
    font-family: Montserrat;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: 45px; /* 128.571% */
    text-transform: uppercase;
    padding-top: 20px;
}
.cloud__service{
    display: flex;
    justify-content: space-between;
    padding-top: 55px;
}
.after__active{
    color: #000;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px; /* 155.556% */
}
.in__each{
    color: #C9262A;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
}
.active__transition{
    color: #000;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}
.active__transition__cont{
    width: 500px;
    padding-top: 15px;
}
.cloud{
    width: 260px;
    height: 125px;
    background-image: url("cloud.png");
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
}
.red__strelka{
    width: 58px;
    height: 58px;
    margin-top: 40px;
}
.business__safety__cont{
    background-color: #fff;
    width: 755px;
    margin-top: 45px;
}
.business__safety__title{
    color: #182877;
    text-align: center;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 33px; /* 143.478% */
}
.business__safety__text{
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
}
.citate{
    color: #000;
    text-align: center;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px; /* 155.556% */
    margin: 45px 0 45px 0;
}
.business__safety__ul{
    padding-top: 40px;
    padding-bottom: 30px;
}
.business__safety__span{
    color: #000;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 155.556% */
}
.business__safety__li{
    color: #C9262A;
}
.security__info__main__cont{
    border: 5px solid #3B5CAD;
    background: #FFF;
}
.security__info__cont{
    display: flex;
    justify-content: center;
}
.security__info__h{
    width: 863px;
    padding-top: 20px;
}
.security__info__h__text{
    color: #182877;
    text-align: center;
    font-family: Montserrat;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: 45px; /* 128.571% */
    text-transform: uppercase;
}
.security__info__h__span{
    color: #C9262A;
    font-family: Montserrat;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: 45px;
    text-transform: uppercase;
}
.security__info__text{
    display: flex;
    justify-content: space-between;
    padding-top: 35px;
    grid-gap: 70px;
}
.security__info__ul{
    width: 430px;
    list-style-type: none;
}
.security__info__li{
    color: #000;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 38px;
}
.security__info__li__span{
    color: #000;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 38px; /* 211.111% */
}
.security__info__shield__png{
    width: 170px;
    height: 120px;
}
.security__info__small__text{
    display: flex;
    color: #000;
    text-align: center;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 200% */
    padding-top: 20px;
}
.security__info__button__click__text{
    color: #000;
    text-align: center;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px; /* 155.556% */
    padding-top: 52px;
}
.security__info__button{
    display: flex;
    width: 290px;
    height: 70px;
    background: #C9262A;
    border-radius: 80px;
    margin-top: 45px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 5px 30px 5px rgba(201, 38, 42, 0.1);

    text-wrap: nowrap;
    color: #ffffff;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 65px;
}
.reviews__cont{
    display: flex;
    justify-content: center;
}
.reviews__cont__h{
    display: flex;
    justify-content: center;
    width: 863px;
    padding-top: 20px;
}
.reviews__cont__h__span{
    color: #C9262A;
    font-family: Montserrat;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: 45px;
    text-transform: uppercase;
}
.reviews__cont__h__text{
    color: #182877;
    text-align: center;
    font-family: Montserrat;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: 45px; /* 128.571% */
    text-transform: uppercase;
}
/*.reviews__circle__arrow__right {
    cursor: pointer;
    position: relative;
    width: 80px;
    height: 50px;
    margin: 20px;
}
.reviews__circle__arrow__right div {
    position: relative;
    top: 20px;
    width: 90px;
    height: 10px;
    background-color: #337AB7;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
    left:0;
    display: block;
}
.reviews__circle__arrow__right div::after {
    content: '';
    position: absolute;
    width: 40px;
    height: 10px;
    top: -11px;
    right: -8px;
    background-color: #337AB7;
    transform: rotate(45deg);
}
.reviews__circle__arrow__right div::before {
    content: '';
    position: absolute;
    width: 40px;
    height: 10px;
    top: 11px;
    right: -8px;
    background-color: #337AB7;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
    transform: rotate(-45deg);
}
.reviews__circle__arrow__right:hover {
    animation: arrow-1 1s linear infinite;
}
@keyframes arrow-1 {
    0% {
        left:0;
    }
    50% {
        left:10px;
    }
    100% {
        left:0;
    }
}*/
.reviews__cont__p__span{
    color: #182877;
    font-family: Montserrat;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px; /* 56% */
}
.reviews__cont__p__text{
    color: #000;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 155.556% */
}
.reviews__cont__p__span__black{
    color: #000;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
}
.reviews__cont__button{
    display: flex;
    justify-content: left;
}
.page__end{
    background: #182877;
}
.page__end__cont{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
}
.page__end__h{
    color: #FFF;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.call__us__button__end{
    margin: left;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 265px;
    height: 60px;
    background-color: #182877; 
    border: 1px solid #ffffff; 
    border-radius: 90px;
}

.call__us__link__end{
    color: #FFF;
    margin-right: 10px;
    text-decoration: none;
    font-size: 18px;
    font-family: Montserrat;
    font-weight: 400;
}