@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*, *::after, *::before {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
html{
    width: 100vw;
    overflow-x: hidden;
}
body{
    overflow-x: hidden;
}
.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

.top__top{
    padding-top: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.top__logo{
    width: 264px;
    height: 44px;
}

.call__us__button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 265px;
    height: 60px;
    background-color: #ffffff; 
    border: 1px solid #182877; 
    border-radius: 90px;
}

.call__us__link{
    margin-right: 10px;
    text-decoration: none;
    font-size: 18px;
    font-family: Montserrat;
    font-weight: 400;
}

.call__us__svg{
    width: 22px;
    height: 22px;
}

.start__screen {
    position: relative;
    width: 100%;
    height: 700px;
    margin-top: 20px;
    background-color: #F3F7FF;
    background-size: 100% 100%;

}

.start__screen__group__img {
    position: absolute;
    top: -15px;
    right: 275px;
    width: 480px;
    height: 520px;
}

.start__screen__subtitle {
    margin-top: 35px;
    height: max-content;
    display: flex;
    flex-direction: row;
    align-items: start;
}

.small__line {
    margin-top: 8px;
    margin-right: 10px;
}

.start__screen_h1{
    font-size: 60px;
    color: #C9262A;
    font-family: Montserrat;
    padding-top: 57px;
}
.start__screen_h2{
    font-size: 35px;
    color: #182877;
    line-height: 45px;
    font-family: Montserrat;
}
.start__screen_h3{
    font-family: Montserrat;
    font-size: 35px;
    color: #182877;
    line-height: 45px;
}

.p1 {
    max-width: 326px;
    font-family: "Montserrat";
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
}

.blue__text {
    font-weight: 700;
    color: #182877;
}

.application__btn {
    display: flex;
    width: 460px;
    height: 70px;
    background: #C9262A;
    border-radius: 80px;
    margin-top: 45px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 5px 30px 5px rgba(201, 38, 42, 0.1);

    text-wrap: nowrap;
    color: #ffffff;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 18px;
}

.statics {
    background-color: #182877;
}

.static__continer {
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 230px;
    align-items: start;
}

.elm {
    width: 102px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.elm__img {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.elm__img::before {
    position: absolute;
    display: block;
    content: "";
    width: 102px;
    height: 102px;
    background-color: #fff;
    background-size: 100% 100%;
    border-radius: 50%;
}

.elm__img>img {
    z-index: 1;
}

.elm__text{
    width: 300px;
    margin-top: 40px;
    color: #F3F7FF;
    font-size: 18px;
    font-family: Montserrat;
    font-weight: 400;
    text-align: center;
}
.redline{
    background-color: #C9262A;
    width: 4px;
    height: 30px;
}
.g__att__cont{
    display: flex;
    justify-content: center;
    padding-top: 50px;
}
.g__att__cont__text{
    display: flex;
    justify-content: center;
    padding-top: 50px;
}
.g__att__h{
    color: #182877;
    text-align: center;
    font-family: Montserrat;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: 45px; /* 128.571% */
    text-transform: uppercase;
}
.g__att__text{
    padding-top: 40px;
    color: #000;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 155.556% */
    width: 720px;
}
.g__att__ul{
    list-style-type: none;
}
.g__att__span{
    color: #000;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
}
.g__att__li{
    margin-bottom: 40px;
    display: flex;
    flex-direction: row;
    align-items: start;
}
.g__att__p{
    margin-left: 10px;
}
.solution{
    display: flex;
    border-top: solid #B7CBF3;;
    border-bottom: solid #b7cbf3;
    justify-content: center;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 25px;
    padding-bottom: 25px;
}
.solution__text__p{
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px; /* 155.556% */
}
.solution__text__span{
    color: #fff;
    background-color:#182877;
    padding: 4px 4px 4px 8px;
    margin-right: 5px;
}
.safety__cloud{
    background: #F3F7FF;
    display: flex;
    margin-top: 70px;
}
.redline1{
    background-color: #C9262A;
    width: 4px;
    height: 30px;
    margin-top: 50px;
}
.safety__cloud__cont__line{
    display: flex;
    justify-content: center;
}
.safety__cloud__cont__h{
    display: flex;
    justify-content: center;
}
.safety__cloud__cont{
    display: flex;
    justify-content: center;
}
.safety__cloud__h{
    color: #182877;
    text-align: center;
    font-family: Montserrat;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: 45px; /* 128.571% */
    text-transform: uppercase;
    padding-top: 20px;
}
.cloud__service{
    display: flex;
    justify-content: space-between;
    padding-top: 55px;
}
.after__active{
    color: #000;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
}
.in__each{
    color: #C9262A;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
}
.active__transition{
    color: #000;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}
.active__transition__cont{
    width: 500px;
    padding-top: 15px;
}
.cloud{
    width: 260px;
    height: 125px;
    background-image: url("cloud.png");
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
}
.red__strelka{
    width: 58px;
    height: 58px;
    margin-top: 40px;
}
.business__safety__cont{
    background-color: #fff;
    width: 755px;
    margin-top: 45px;
}
.business__safety__title{
    color: #182877;
    text-align: center;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 33px; /* 143.478% */
}
.business__safety__text{
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
}
.citate{
    color: #000;
    text-align: center;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px; /* 155.556% */
    margin: 45px 0 45px 0;
}
.business__safety__ul{
    padding-top: 40px;
    padding-bottom: 30px;
}
.business__safety__span{
    color: #000;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 155.556% */
}
.business__safety__li{
    color: #C9262A;
}
.security__info__main__cont{
    border: 5px solid #3B5CAD;
    background: #FFF;
}
.security__info__cont{
    display: flex;
    justify-content: center;
}
.security__info__h{
    width: 863px;
    padding-top: 20px;
}
.security__info__h__text{
    color: #182877;
    text-align: center;
    font-family: Montserrat;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: 45px; /* 128.571% */
    text-transform: uppercase;
}
.security__info__h__span{
    color: #C9262A;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
}
.security__info__text{
    display: flex;
    justify-content: space-between;
    padding-top: 35px;
    grid-gap: 70px;
}
.security__info__ul{
    width: 430px;
    list-style-type: none;
}
.security__info__li{
    color: #000;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 38px;
}
.security__info__li__span{
    color: #000;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
}
.security__info__group__png{
    width: 466px;
    height: 220px;
}
.security__info__small__text{
    display: flex;
    color: #000;
    text-align: center;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 200% */
    padding-top: 20px;
}
.security__info__button__click__text{
    color: #000;
    text-align: center;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px; /* 155.556% */
    padding-top: 52px;
}
.security__info__button{
    display: flex;
    width: 290px;
    height: 70px;
    background: #C9262A;
    border-radius: 80px;
    margin-top: 45px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 5px 30px 5px rgba(201, 38, 42, 0.1);

    text-wrap: nowrap;
    color: #ffffff;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 65px;
}
.reviews__redline1{
    background-color: #C9262A;
    width: 4px;
    height: 30px;
    margin-top: 25px;
}
.reviews__cont{
    display: flex;
    justify-content: center;
    align-items: center;
}
.reviews__cont__h{
    display: flex;
    justify-content: center;
    width: 863px;
    padding-top: 20px;
}
.reviews__cont__h__span{
    color: #C9262A;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
}
.reviews__cont__h__text{
    color: #182877;
    text-align: center;
    font-family: Montserrat;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: 45px; /* 128.571% */
    text-transform: uppercase;
}
.reviews__circle__left{
    padding-right: 10px;
}
.reviews__circle__right{
    padding-left: 10px;
}
.reviews__cont__p__span{
    color: #182877;
    font-family: Montserrat;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px; /* 56% */
}
.reviews__cont__p__text{
    color: #000;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 155.556% */
}
.reviews__cont__p__span__black{
    color: #000;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
}
.reviews__cont__button{
    display: flex;
    justify-content: left;
}
.page__end{
    background: #182877;
}
.page__end__cont{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    grid-column: center;
}
.page__end__h{
    color: #FFF;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.call__us__button__end{
    display: flex;
    flex-direction: row;
    align-items: center;
    grid-column: right;
    justify-self: end;
    justify-content: space-evenly;
    width: 265px;
    height: 60px;
    background-color: #182877; 
    border: 1px solid #ffffff; 
    border-radius: 90px;
}

.call__us__link__end{
    color: #FFF;
    margin-right: 10px;
    text-decoration: none;
    font-size: 18px;
    font-family: Montserrat;
    font-weight: 400;
}

.page__end__main__cont {
    display: grid;
    grid-template-columns: 1fr [center]1fr [right]1fr;
    align-items: center;
}

@media screen and (max-width: 1024px) {
    .top__top{
        margin: 0 10px 0 10px;
    }
    .start__screen__group__img{
        right: 20px;
    }
    .start__screen__container{
        margin-left: 10px;
    }
    .static__continer{
        width: 800px;
    }
    .elm {
        width: 188px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .reviews__img1, .reviews__img5{
        display: none;
    }
}
@media screen and (max-width: 768px) {
    .start__screen__group__img {
        right: 20px;
        width: 300px;
        height: 340px;
    }
    .call__us__button{
        width: 245px;
        height: 55px;
    }
    .call__us__link{
        font-size: 17px;
    }
    .start__screen_h1{
        font-size: 50px;
    }
    .start__screen_h2, .start__screen_h3{
        font-size: 30px;
        line-height: 35px;
    }
    .start__screen{
        height: 550px;
    }
    .application__btn{
        margin-top: 100px;
    }
    .elm__img>img {
        width: 50px;
    }
    .elm__img::before {
        width: 87px;
        height: 87px;
    }
    .elm__text{
        font-size: 13px;
        margin-top: 25px;
    }
    .elm {
        width: 140px;
    }
    .static__continer{
        width: 716px;
        height: 210px;
    }
    .g__att__h{
        font-size: 30px;
        line-height: 35px;
    }
    .g__att__text{
        padding-top: 0px;
    }
    .safety__cloud__h{
        font-size: 30px;
        line-height: 35px;
    }
    .cloud{
        transform: scale(0.8);
    }
    .security__info__h__text {
        font-size: 30px;
        line-height: 35px;
    }
    .security__info__text{
        grid-gap: 20px;
    }
    .security__info__group__png {
        display: none;
    }
    .security__info__small__text {
        padding-top: 40px;
    }
    .security__info__button {
        width: 250px;
        height: 65px;
    }
    .reviews__cont__h__text {
        font-size: 30px;
        line-height: 35px;
    }
    .reviews__cont__p__text {
        margin-left: 20px;
    }
    .security__info__button {
        margin-left: 20px;
    }
    .call__us__button__end {
        width: 200px;
        height: 55px;
        margin-right: 10px;
    }
    .call__us__link__end {
        font-size: 15px;
    }
    .reviews__cont__p__span {
        font-size: 40px;
    }
}
@media screen and (max-width: 426px) {
    .start__screen {
        height: 480px;
    }
    .start__screen__group__img {
        display: none;
    }
    .top__logo {
        width: 184px;
        height: 30px;
    }
    .call__us__link {
        font-size: 15px;
    }
    .call__us__svg{
        width: 20px;
    }
    .call__us__button {
        width: 195px;
        height: 50px;
    }
    .start__screen_h1 {
        font-size: 45px;
    }
    .start__screen_h2, .start__screen_h3 {
        font-size: 25px;
        line-height: 30px;
    }
    .p1{
        font-size: 17px;
    }
    .application__btn {
        margin-top: 70px;
        width: 380px;
        height: 60px;
        font-size: 15px;
    }
    .elm {
        width: 80px;
    }
    .elm__img::before {
        width: 55px;
        height: 55px;
    }
    .elm__img>img {
        width: 35px;
    }
    .elm__text {
        font-size: 7px;
        margin-top: 20px;
    }
    .static__continer {
        padding-top: 25px;
        width: 400px;
        height: 120px;	
    }
    .g__att__h {
        font-size: 25px;
        line-height: 30px;
    }
    .g__att__cont__text{
        width: 360px;
        margin-left: 10px;
    }
    .g__att__text{
        font-size: 14px;
        line-height: 19px;
    }
    .g__att__img{
        width: 16px;
    }
    .solution__text__p{
        font-size: 10px;
    }
    .solution{
        width: 392px;
    }
    .safety__cloud{
        margin-top: 55px;
    }
    .wrapper{
        width: 425px;
    }
    .safety__cloud__h {
        font-size: 22px;
        line-height: 27px;
    }
    .redline1 {
        margin-top: 25px;
    }
    .cloud {
        display: none;
    }
    .active__transition {
        font-size: 15px;
        line-height: 22px;
    }
    .cloud__service {
        margin: 0 10px 0 10px;
    }
    .active__transition__cont{
        padding: 0;
    }

    .business__safety__ul {
        padding: 0;
    }

    .business__safety__text {
        flex-direction: column;
    }
    .business__safety__title {
        font-size: 15px;
        line-height: 22px;
        padding-bottom: 20px;
        width: 425px;
    }
    .citate{
        font-size: 16px;
    }
    .security__info__h__text {
        font-size: 25px;
        line-height: 30px;
    }
    .security__info__li {
        font-size: 15px;
        margin-left: 20px;
    }
    .security__info__small__text {
    font-size: 12px;
    }
    .security__info__button {
        width: 220px;
        height: 55px;
        font-size: 17px;
    }
    .reviews__cont__h__text {
        font-size: 25px;
        line-height: 30px;
    }
    .reviews__img2, .reviews__img4{
        display: none;
    }
    .reviews__img3{
        padding: 30px 0 30px 0; 
    }
    .reviews__cont__p__text {
        font-size: 16px;
        line-height: 22px;
    }
    .page__end__main__cont {
        display: grid;
        justify-content: center;
        grid-template-columns: auto; 
    }
    .page__end{

        display: grid;
    }
    .call__us__button__end {
        margin-bottom: 20px;
    }
}
@media screen and (max-width: 1024px) {
    .start__screen__group__img {
        width: 300px;
        height: 340px;
    }
}   